<div class="scrivito-title-details">
  <%= scrivito_tag :h4, widget, :alt_text %>
  <%= link_to '(details)', '#', 'data-scrivito-toggle-details' => widget.id %>
  <div class="scrivito-details-<%= widget.id %>">
    <div>
      <div class="row">
        <div class="col-xs-4">
          <h5>Background Image</h5>
          <%= scrivito_image_tag(widget, :image) %>
        </div>

        <div class="col-xs-8">
          <h5>Button</h5>
          <%= scrivito_edit_link(widget, :link, data: {placeholder: "Where should the button take the user ..."}) %>
        </div>
      </div>
    </div>
  </div>
</div>
