<%= scrivito_details_for do %>
  <div class="row">
    <div class="col-xs-4">
      <%= scrivito_details_for 'Image' do %>
        <%= scrivito_image_tag(widget, :image) %>
      <% end %>
    </div>
    <div class="col-xs-8">
      <%= scrivito_details_for 'Choose a destination' do %>
        <%= scrivito_edit_link(widget, :link) %>
      <% end %>
      <%= scrivito_details_for 'Alt-Attribute' do %>
        <p>(Make sure it has as much relevant information as possible)</p>
        <%= scrivito_tag :div, widget, :alt_text %>
      <% end %>
    </div>
  </div>
<% end %>
