<%= scrivito_details_for do %>
  <div class="row">
    <div class="col-xs-4">
      <%= scrivito_details_for t('scrivito_slick_slider_widget.details.image', default: 'Image') do %>
        <%= scrivito_image_tag(widget, :image) %>
      <% end %>
    </div>
    <div class="col-xs-8">
      <%= scrivito_details_for t('scrivito_slick_slider_widget.details.link', default: 'Destination') do %>
        <%= scrivito_tag(:div, widget, :link) %>
      <% end %>
      <%= scrivito_details_for t('scrivito_slick_slider_widget.details.alt_text', default: 'Alternative Text') do %>
        <%= scrivito_tag :div, widget, :alt_text %>
      <% end %>
    </div>
  </div>
<% end %>