<div class="details-view" data-scrivito-modal-size="large">
  <ul class="tab-list">
    <li class="active" data-panel-target="#edit-panels">
      Panels
    </li>
    <li data-panel-target="#edit-settings">
      Settings
    </li>
  </ul>

  <div class="tab-panels">
    <div class="tab-panel active" id="edit-panels">
      <%= scrivito_details_for 'Panels' do %>
        <%= scrivito_tag :div, widget, :panels %>
      <% end %>
    </div>
    <div class="tab-panel" id="edit-settings">
      <%= scrivito_details_for 'Show on Desktop' do %>
        <%= scrivito_tag(:div, widget, :slides_to_show) %>
      <% end %>
      <%= scrivito_details_for 'Scroll' do %>
        <%= scrivito_tag(:div, widget, :slides_to_scroll) %>
      <% end %>
      <%= scrivito_details_for 'Show on Tablet' do %>
        <%= scrivito_tag(:div, widget, :slides_to_show_tablet) %>
      <% end %>
      <%= scrivito_details_for 'Show on Mobile' do %>
        <%= scrivito_tag(:div, widget, :slides_to_show_mobile) %>
      <% end %>
      <%= scrivito_details_for 'Infinite Scrolling' do %>
        <%= scrivito_toggle_button_editor(widget, :infinite) %>
      <% end %>
      <%= scrivito_details_for 'Show dots' do %>
        <%= scrivito_toggle_button_editor(widget, :dots) %>
      <% end %>
      <%= scrivito_details_for 'Autoplay' do %>
        <%= scrivito_toggle_button_editor(widget, :autoplay) %>
        <h4>Speed</h4>
        <%= scrivito_tag(:div, widget, :autoplay_speed) %>
      <% end %>
    </div>
  </div>
</div>