<%= scrivito_large_dialog do %>
  <%= scrivito_tag :div, widget, :panels %>
  <hr>
  <%= scrivito_details_for 'Number of elements visible on' do %>
    <div class="row">
      <div class="col-md-4">
        <h4><%= t('scrivito_slick_slider_widget.details.slides_to_show', default: 'Desktop') %></h4>
        <%= scrivito_tag(:div, widget, :slides_to_show) %>
      </div>

      <div class="col-md-4">
        <h4><%= t('scrivito_slick_slider_widget.details.slides_to_show_tablet', default: 'Tablet') %></h4>
        <%= scrivito_tag(:div, widget, :slides_to_show_tablet) %>
      </div>

      <div class="col-md-4">
        <h4><%= t('scrivito_slick_slider_widget.details.slides_to_show_mobile', default: 'Mobile') %></h4>
        <%= scrivito_tag(:div, widget, :slides_to_show_mobile) %>
      </div>
    </div>
  <% end %>

  <%= scrivito_details_for do %>
    <h4><%= t('scrivito_slick_slider_widget.details.slides_to_scroll', default: 'Number of elements that scroll') %></h4>
    <%= scrivito_tag(:div, widget, :slides_to_scroll) %>

    <h4><%= t('scrivito_slick_slider_widget.details.infinite', default: 'Activate infinite scrolling') %></h4>
    <%= scrivito_tag(:div, widget, :infinite) %>

    <h4><%= t('scrivito_slick_slider_widget.details.dots', default: 'Show dots') %></h4>
    <%= scrivito_tag(:div, widget, :dots) %>

    <h4><%= t('scrivito_slick_slider_widget.details.autoplay', default: 'Autoplay') %></h4>
    <%= scrivito_tag(:div, widget, :autoplay) %>

    <h4><%= t('scrivito_slick_slider_widget.details.autoplay_speed', default: 'Speed for autoplay in ms') %></h4>
    <%= scrivito_tag(:div, widget, :autoplay_speed) %>
  <% end %>
<% end %>