<% if widget.panels.present? %>
  <div class="slider slick_slider_widget" data-slick="<%= widget.data_attributes %>">
    <% widget.panels.each do |p| %>
      <div>
        <% if p.link.present? %>
          <%= link_to scrivito_path(p.link) do %>
            <div class="slider-image-wrapper">
              <%= scrivito_image_tag p, :image %>
            </div>
            <p class="h4"><%= p.link.title %></p>
          <% end %>
        <% else %>
          <div class="slider-image-wrapper">
            <%= scrivito_image_tag p, :image %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="alert alert-info">
    There are no panels added to this slider. Go to details view to add some.
  </div>
<% end %>
